@font-face {
  font-family: "PP Mori";
  src: url("/static/fonts/ppmori-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PP Mori";
  src: url("/static/fonts/ppmori-semibold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --bs-primary: #1a427d;
  --bs-primary-rgb: 26, 66, 125;
    --bs-secondary: #4d5441;

}

body {
  font-family: "PP Mori", "Segoe UI", sans-serif;
}

body, .text-body, .text-dark, .text-muted, .form-label, .form-control {
  color: #171717 !important;
}


.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: #fff !important;
}
.btn-outline-primary {
  color: var(--bs-primary) !important;
  border: 2px solid var(--bs-primary) !important;
  background-color: white !important;
  font-weight: 600 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s !important;
}

.btn-outline-primary:hover {
  background-color: var(--bs-primary) !important;
  color: #fff !important;
  border-color: var(--bs-primary) !important;
}


.btn-secondary {
  background-color: var(--bs-secondary) !important;
  border-color: var(--bs-secondary) !important;
  color: #fff !important;
}


.btn-outline-secondary {
  color: var(--bs-secondary) !important;
  border: 2px solid var(--bs-secondary) !important;
  background-color: transparent !important;
  font-weight: 600 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s !important;
}
.btn-outline-secondary-w {
  color: var(--bs-secondary) !important;
  border: 2px solid var(--bs-secondary) !important;
  background-color: #fff !important;
  font-weight: 600 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s !important;
}
.btn-outline-secondary-w:hover {
  background-color: var(--bs-secondary) !important;
  color: #fff !important;
  border-color: var(--bs-secondary) !important;
}
.btn-outline-secondary:hover {
  background-color: var(--bs-secondary) !important;
  color: #fff !important;
  border-color: var(--bs-secondary) !important;
}


.custom-navbar {
  background-color: #1a427d !important;
}

thead.custom-header th {
    background-color: #004080 !important;
    color: white !important;
    border-color: #004080 !important;
    text-align: center;
  }