{% extends "header.html" %} {% block title %}Class Students{% endblock %} {%
block content %}
<h3>Students and Competencies</h3>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      {% for col in columns %} {% if col not in ['NSN', 'FirstName',
      'DateOfBirth', 'Ethnicity'] %}
      <th>{{ col | safe }}</th>
      {% endif %} {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in students %}
    <tr>
      {% for col in columns %} {% if col not in ['NSN', 'FirstName',
      'DateOfBirth', 'Ethnicity'] %}
      <td>
        {% if col in row and col not in ['LastName', 'PreferredName',
        'YearLevelID'] %} <input type="checkbox" disabled {% if row[col] == 'Y'
        %}checked{% endif %}> {% else %} {{ row[col] }} {% endif %}
      </td>
      {% endif %} {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
