{% extends "header.html" %} {% block title %}Class Students{% endblock %} {%
block content %}
<h3>Students and Competencies</h3>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      {% for col in columns %} {% if col not in ['NSN', 'FirstName',
      'DateOfBirth', 'Ethnicity'] %}
      <th>{{ col }}</th>
      {% endif %} {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in students %}
    <tr>
      {% for col in columns %} {% if col not in ['NSN', 'FirstName',
      'DateOfBirth', 'Ethnicity'] %}
      <td>{{ row[col] }}</td>
      {% endif %} {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
