{% extends "header.html" %} {% block title %} {% endblock %} {% block content %}
<h2>⏳ Processing your file...</h2>
<div class="progress w-100 mt-3" id="uploadProgress">
  <div
    id="progressBar"
    class="progress-bar"
    role="progressbar"
    style="width: 0%"
    aria-valuenow="0"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    0%
  </div>
</div>
<script>
  const interval = setInterval(() => {
    fetch("/progress")
      .then((response) => response.json())
      .then((data) => {
        const percent = Math.floor((data.current / data.total) * 100);
        const bar = document.getElementById("progressBar");
        bar.style.width = percent + "%";
        bar.innerText = percent + "%";
        bar.setAttribute("aria-valuenow", percent);
        if (data.done) {
          clearInterval(interval);
          window.location.href = "/results"; // redirect to results
        }
      });
  }, 500);
</script>
{% endblock %}
