{% extends "header.html" %} {% block title %}E-Learning Upload{% endblock %} {%
block content %}
<div class="container mt-5">
  <h2 class="mb-4">Upload E-Learning CSV</h2>

  <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="csv_file" class="form-label">Choose CSV file</label>
      <input
        class="form-control"
        type="file"
        name="csv_file"
        id="csv_file"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Upload and Update</button>
  </form>
</div>
{% endblock %}
