{% extends "header.html" %} {% block title %}{{ code }} Error{% endblock %} {%
block content %}

<div class="text-center mt-5">
  <h1 class="text-primary mb-4 text-center">Error {{ code or "" }}</h1>

  {% if code|int == 900 %}
  <p>
    Sorry, this page is not available on mobile devices. If this is critical
    please contact support.
  </p>
  {% elif code|int >= 500 %}
  <p>Oops! Something went wrong on our end. Please try again later.</p>
  {% elif code|int == 404 %}
  <p>The page you're looking for doesn't exist.</p>
  {% elif code|int == 403 %}
  <p>You're not authorized to access this page.</p>
  {% elif code == "f405" %}
  <p>Oops! A database related error occurred.</p>
  {% else %}
  <p>An unexpected error occurred.</p>
  {% endif %}

  <a href="{{ url_for('home_bp.home') }}" class="btn btn-primary mt-3"
    >Back to Home
  </a>
</div>
{% endblock %}
