<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/custom.css') }}"
    />
    <style>
      body {
        background-image: url("{{ url_for('static', filename='background.svg') }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom center;
      }
    </style>
    {% block head %}{% endblock %}
  </head>

  <body class="">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar py-2">
      <div class="container-fluid">
        <a
          class="navbar-brand d-flex align-items-center"
          href="{{ url_for('home_bp.home') }}"
        >
          <img
            src="{{ url_for('static', filename='LightLogo.png') }}"
            alt="Logo"
            class="img-fluid"
            style="height: 40px; margin-right: 12px"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if user_role in ["ADM", "PRO", "MOE", "FUN","GRP"] %}

        <div class="collapse navbar-collapse mt-2 mt-lg-0" id="navbarNav">
          <ul class="navbar-nav ms-auto align-items-lg-center">
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/' %}active{% endif %}"
                href="{{ url_for('home_bp.home') }}"
                >Dashboard</a
              >
            </li>
            {% if user_role == "GRP" %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Provider Tools
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('funder_bp.funder_dashboard') }}"
                  >
                    Overview
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('class_bp.funder_classes') }}"
                    >Class Lookup</a
                  >
                </li>
                <li>
                  <a class="dropdown-item py-2" href="#"> Group Reporting </a>
                </li>
              </ul>
            </li>
            {% endif %} {% if user_role == "FUN"%}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Funder Tools
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                {% if session['user_admin'] == 1%}
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('funder_bp.funder_dashboard') }}"
                    >Overview
                  </a>
                </li>
                {%endif%}
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('report_bp.reporting') }}"
                    >Reporting</a
                  >
                </li>

                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('class_bp.funder_classes') }}"
                    >Class Lookup</a
                  >
                </li>
                {% if session['user_admin'] == 1%}
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('admin_bp.provider_maintenance') }}"
                    >Provider Maintenance</a
                  >
                </li>
                {% endif %}
              </ul>
            </li>
            {% endif %} {% if user_role == "MOE" %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle {% if 'school' in request.path or 'classlistupload' in request.path %}active{% endif %}"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                School Tools
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                {% if session['user_admin'] == 1%}
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('funder_bp.funder_dashboard') }}"
                    >Overview
                  </a>
                </li>
                {%endif%}
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{% if user_role == 'ADM' %}{{ url_for('class_bp.funder_classes') }}{% else %}{{ url_for('class_bp.moe_classes') }}{% endif %}"
                  >
                    Class Lookup
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('upload_bp.classlistupload') }}"
                    >Upload Class List</a
                  >
                </li>
                {% if session['user_admin'] == 1%}
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('students_bp.student_search_page') }}"
                  >
                    Edit Student Record
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>
            {% endif %} {% if user_role == "PRO" %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle {% if 'reporting' in request.path or 'provider_classes' in request.path %}active{% endif %}"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Provider Tools
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                {% if session['user_admin'] == 1%}
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('funder_bp.funder_dashboard') }}"
                    >Overview
                  </a>
                </li>
                {%endif%}
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('report_bp.reporting') }}"
                  >
                    Reporting
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('class_bp.provider_classes') }}"
                  >
                    Class Lookup
                  </a>
                </li>
              </ul>
            </li>
            {% endif %} {% if user_role == "ADM" %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle {% if 'reporting' in request.path or 'classlistupload' in request.path or 'funder_classes' in request.path %}active{% endif %}"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Admin Tools
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('report_bp.reporting') }}"
                  >
                    Reporting
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('upload_bp.classlistupload') }}"
                  >
                    Upload Class List
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('class_bp.funder_classes') }}"
                  >
                    Class Lookup
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('eLearning_bp.admin_eLearning_upload') }}"
                  >
                    Upload eLearning CSV
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('students_bp.student_search_page') }}"
                  >
                    Edit Student Record
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('funder_bp.funder_dashboard') }}"
                    >Overview
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            <li class="nav-item dropdown mt-2 mt-lg-0 me-2">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-ui-checks me-1"></i> Forms
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('survey_bp.survey_by_routename', routename='SelfReview') }}"
                  >
                    Complete a Self Review
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('survey_bp.list_my_surveys') }}"
                  >
                    View Past Reviews
                  </a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('feedback_bp.feedback') }}"
                  >
                    Report an Issue / Submit Feedback
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('survey_bp.survey_by_routename', routename='Feedback') }}"
                  >
                    Testing Feedback
                  </a>
                </li>
              </ul>
            </li>
            {% if session['user_admin'] == 1%}
            <li class="nav-item dropdown mt-2 mt-lg-0 me-2">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-people-fill me-1"></i> Staff
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('staff_bp.staff_maintenance') }}"
                  >
                    Manage My Staff
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item py-2"
                    href="{{ url_for('staff_bp.staff_eLearning') }}"
                  >
                    View All eLearnings
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item mt-2 mt-lg-0 me-2">
              <a
                href="{{ url_for('eLearning_bp.eLearning_guide') }}"
                class="nav-link"
              >
                eLearning
              </a>
            </li>
            <li class="nav-item mt-2 mt-lg-0 me-2">
              <a href="{{ url_for('admin_bp.create_user') }}" class="nav-link">
                <i class="bi bi-person-plus me-1"></i> Create User
              </a>
            </li>
            {% endif %}
            <li class="nav-item mt-2 mt-lg-0 me-2">
              <a
                href="{{ url_for('admin_bp.profile') }}"
                class="btn btn-outline-light btn-sm d-flex align-items-center"
              >
                <i class="bi bi-person-fill me-1"></i> Profile
              </a>
            </li>

            <li class="nav-item mt-2 mt-lg-0">
              <form
                action="{{ url_for('auth_bp.logout') }}"
                method="post"
                class="d-inline"
              >
                <button
                  type="submit"
                  class="btn btn-outline-light btn-sm w-100 w-lg-auto"
                >
                  Logout
                </button>
              </form>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid px-2 py-4">
      {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
