{% extends "header.html" %}
{% block title %}test-survey{% endblock %}
{% block content %}
<div class="container mt-5">
  <h1 class="mb-4 text-center text-primary">test-survey</h1>
  <form action="{{ url_for('survey_bp.submit_survey', routename='s') }}" method="post">
<div class="p-3 mb-3 bg-white rounded">
<h3 class="mt-2">s1</h3>
</div>
<fieldset class="mb-4 p-4 border rounded bg-white shadow-sm">
<legend class="h6"><strong>Q1:</strong> check</legend>
<input type="text" name="q1" class="form-control" placeholder="Your response...">
</fieldset>
<button type="submit" class="btn btn-primary">Submit Survey</button>
</form></div>{% endblock %}