{% extends "header.html" %} {% block title %}WSFL Self Review Survey{% endblock
%} {% block content %}
<div class="container my-5">
  <h1 class="mb-4">WSFL Self Review Survey</h1>
  <form action="/submit/{{ route_name }}" method="post">
    {% for question in questions %}
    <fieldset class="mb-4 p-4 border rounded bg-white shadow-sm">
      <legend class="h6">
        <strong>Q{{ question.id }}:</strong> {{ question.text }}
      </legend>

      {% if question.type == 'LIK' %} {% for label in question.labels %}
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="q{{ question.id }}"
          id="q{{ question.id }}_{{ label.pos }}"
          value="{{ label.pos }}"
        />
        <label
          class="form-check-label"
          for="q{{ question.id }}_{{ label.pos }}"
        >
          {{ label.text }}
        </label>
      </div>
      {% endfor %} {% elif question.type == 'TEXT' %}
      <input
        type="text"
        class="form-control mt-2"
        name="q{{ question.id }}"
        id="q{{ question.id }}"
      />

      {% elif question.type == 'TXT' %}
      <textarea
        class="form-control mt-2"
        rows="4"
        name="q{{ question.id }}"
        id="q{{ question.id }}"
      ></textarea>
      {% endif %}
    </fieldset>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit Survey</button>
  </form>
</div>
{% endblock %}
